/* .pageHeader {

}

.pageFooter {

} */

.appHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #ECF6E8;
  color: #D50000; 
}


.appHeader-outline {
  outline-color: #11B27C;
  text-shadow: 
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}
.pageHeader nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
  align-items: center;
}

.navbar {
    display: flex;
    list-style: none;

}

.logo1 {
    display: flex;
    align-items: center;
    width: '300';
    height: 'auto';
}

.logoFooter {
    width: '150';
    height: 'auto';
    align-items: center;

}


body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    color: #333;
} */


h1 {
    color: #D50000;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

h3 {
    color: #2c3e50;
    text-align: left;
}

p {
    color: #CD8D2B;
}

.content-box {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
#main-footer {
    font-size: 0.8rem;
    text-align: center;
    margin-top: 50px;
}
a {
    color: #3498db;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}


.buttonGroup {
    display: flex;
  justify-content: center; 
  align-items: center;     
    
}
.button1 {
    background-color: #11B27C;
    border: 6px;
    color: #ECF6E8;
    padding: 10px;
    cursor: pointer;
    
}

.button2 {
    background-color: #11B27C;
    border: 6px;
    color: #ECF6E8;
    padding: 10px;
    cursor: pointer;
    
}

.button3 {
    background-color: #D50000;
    border: 6px;
    color: #ECF6E8;
    padding: 10px;
    cursor: pointer;
    
} 