/* --- Variables --- */
:root {
  --dark-green: #11B27C;
  --light-green: #ECF6E8;
  --gold: #CD8D2B;
  --red: #D50000;
  --dark-grey: #333333;
}

/* --- Base Elements --- */
body {
  background-color: #ECF6E8;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 20px;
  color: var(--dark-grey);
}

h1 {
  color: var(--red);
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2 {
  color: var(--dark-green);
  display: flex;
  justify-content: center;
}

h3 {
  color: #11B27C;
  text-align: right;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 36px;
  

}

p {
  color: var(--gold);
}

a {
  color: var(--dark-green);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  width: 500px;
  height: auto;
  display: block; /* Removes bottom whitespace gaps */
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--light-green);
  color: var(--dark-green);
  border: 4px double var(--gold);
  padding: 0rem;
}

.navbar, ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-content: space-evenly; /* Picked one; override others as needed */
  overflow: hidden;
}

.footer-containter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--light-green);
  color: var(--dark-green);
  border: 4px double var(--gold);
  padding: 0px;
}

/* --- Specific Components --- */
.logo1 {
  display: flex;
  align-items: center;
  width: 300px; 
  height: auto;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* Combined Button Styles */
.button1, .button2, .button3 {
  border: #11B27C;
  padding: 15px 25px;
  cursor: pointer;
  color: var(--light-green);
  background-color: var(--dark-green);
}
.button1:hover, .button2:hover, .button3:hover {
  background-color: #CD8D2B;
}

.button3 {
  background-color: var(--red);
}

